.App {
  background-color: #123456;
}

.container {
  padding: 0 0 0 200px;
}

.header {
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 50px;
}

.page {
  background-color: #fff;
}

.page-title {
  margin-top: 0px;
  padding: 20px 0px;
  font-size: 35px;
}

.links-div {
  display: flex;
  width: 20%;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
}

p {
  display: block;
  margin-block-end: 1em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
}

.page-txt {
  display: block;
  padding: 20px 100px;
  font-size: 25px;
}

.display-result {
  background-color: #777;
  color: #fff;
  width: 700px;
  height: 100px;
  font-size: 60px;
  font-weight: 700;
  padding: 0 20px;
  text-align: right;
}
.btn-panel {
  width: 700px;
  height: 500px;
  background-color: #000;
}

div.button {
  padding: 0;
}

.btn-div {
  height: inherit;
}

button {
  display: block;
  width: 100%;
  height: inherit;
  border: none;
  background-color: transparent;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 2px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 2px 2px 10px #c1c1c1;
  outline: none;
}

.d-flex {
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid #999;
}

.button {
  background-color: rgb(224, 224, 224);
  width: 175px;
  height: 100px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #999;
  text-align: center;
  padding-top: 30px;
}

.btn-opt {
  background-color: #ff893c;
}

.zero {
  width: 350px;
  text-align: center;
}
